*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.griglia {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0;
}

.cella {
    width: calc(100% / 10);
    border: 1px solid black;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
}


.game__title {
    font-size: 50px;
    font-weight: bold;
    color: cadetblue;
    margin-bottom: 20px;
}

.game__button {
    color: white;
    background-color: cadetblue;
    padding: 10px;
}

.background-secondary{
    background-color: aquamarine;
}